* {margin: 0; padding: 0; box-sizing: border-box;}
ul, ol, li{list-style: none;}
a {text-decoration: none; color: #333;}
img,fieldset {border: 0;}
@font-face {
  font-family: 'NotoSans_Condensed-Regular';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/NotoSans_Condensed-Regular.ttf') format('truetype');
}

body{ position: relative; line-height: 1.8em; font-size: 13px; font-family: 'NotoSans_Condensed-Regular','나눔고딕','돋움',Dotum, sans-serif;

}