/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*contents */
headding {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
  position: relative;
}
headding span {
  color: dodgerblue;
}
headding::after {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-300);
}