/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* variables */
$main-text-color:#222;
$main-dark-color:#000;
$main-light-color:#ddd;

/* common */
body {
  font-size: 15px;
  color: $main-text-color;
}

/* contents */
.container {
  width: 100%;
  height: 3000px;
  header {
    width: 100%;
    color: $main-light-color;
    position: fixed;
    transition: all 0.3s;
    .banner {
      width: 100%;
      height: 40px;
      background: $main-dark-color;
      color: $main-light-color;
      .lnb {
        width: 1300px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
      }
    }
    .top-info {
      width: 1300px;
      margin: 0 auto;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .gnb {
        display: flex;
        gap: 20px;
        color: $main-light-color;
        transition: all 0.3s;
          li > a:hover {
          color: crimson;
        }
      }
    }
    &.active {
      background: $main-light-color;
      box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.3);
      & .banner { 
        height: 0px;
        overflow: hidden;
      }
      &.top-info {
        &.gnb {
          color: $main-dark-color;
        }
      }
    } 
  }
}

/* intro */
.intro {
  width: 100%;
  height: 100vh;
  background: url("./images/intro.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  .inner {
    width: 1300px;
    margin: 0 auto;
    .heading {
      color: $main-light-color;
      text-align: center;
      h1 {
        font-size: 4.7rem;
        margin-bottom: 40px;
      }
      p {
        font-size: 1.3rem;
        padding: 0.150px;
        line-height: 2rem;
      }
    }
  }
}