/* reset css */
@import "/scss/reset";

/* variables */
@import "/scss/variables";

.font-large {
  font-size: 60px;
  color: $main-red-color;;
  text-transform: uppercase
}

.font-medium {
  font-size: 20px;
  color: $main-green-color;
  text-transform: uppercase;
}