/* reset css */
@import "/scss/reset";

/* variables */
@import "/scss/variables";

/*contents */
body {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background: $main-dark-color;
  color: $main-light-color;
}

.btn-outer {
  .btn {
    text-transform: uppercase;
    display: inline-block;
    width: 100px;
    height: 50px;
    background: $box-bg-color;
    text-align: center;
    line-height: 48px;
    transition: background 0.3s;
    position: relative;
    &:hover {
      background: transparent;
    }
    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid $main-light-color;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    &:hover {
      background: transparent;
      &::before {
        opacity: 1;
        transform: rotate(45deg);
      }
      &::after {
        opacity: 1;
        transform: rotate(-45deg);
      }
    }
  }
}